In [2]:
# LibrerÃ­as
import requests
import pandas as pd

In [4]:
# Verificar la conexiÃ³n a internet.
def verificar_conexion():
    try:
        requests.get("http://www.google.com", timeout=5)
        print('âœ… Conectado a internet.')
        return True
    
    except requests.ConnectionError:
        print('ðŸ›‘ Sin conexiÃ³n a internet.')
        return False

In [5]:
# ConexiÃ³n con la API de COBS

Link_cops_API = 'https://cobs.si/api/comet_list.api'

if verificar_conexion():
    response = requests.get(Link_cops_API)


if response.status_code == 200:
    content = response.json()
    print('âœ… Base de datos actualizada.')

else:
    print(f'ðŸ›‘ Se presentÃ³ un error al cargar la base de datos.\nError: {response.status_code}\n{response.content}')

âœ… Conectado a internet.
âœ… Base de datos actualizada.

In [14]:
cometas_df = pd.DataFrame(content['objects'])
cometas_df

,id,type,name,fullname,mpc_name,icq_name,component,current_mag,perihelion_date,perihelion_mag,peak_mag,peak_mag_date,is_observed,is_active
0,1,N,P/2010 H2,P/2010 H2 (Vales),K10H020,P2010H2,None,14.1,2025-03-09 15:47,12.6,12.5,2025-04-09,True,True
1,2,C,C/2014 UN271,C/2014 UN271 (Bernardinelli-Bernstein),K14UR1N,2014UNR1,None,18.1,2031-01-17 04:53,16.0,15.8,2031-04-04,True,True
2,3,C,C/2020 PV6,C/2020 PV6 (PANSTARRS),K20P06V,2020PV6,None,24.8,2021-09-26 01:52,15.6,14.9,2021-08-05,True,True
3,4,A,A/2021 E4,A/2021 E4,K21E040,A2021E4,None,22.4,2022-04-24 22:00,20.1,19.8,2022-02-21,False,True
4,6,C,C/2021 G3,C/2021 G3 (PANSTARRS),K21G030,2021G3,None,24.9,2021-10-17 20:23,21.4,20.9,2022-01-31,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2199,2533,N,P/2024 J1,P/2024 J1 (PANSTARRS),K24J010,P2024J1,None,22.4,2023-11-11 04:30,21.2,20.2,2024-03-26,False,True
2200,2534,C,C/2024 J4,C/2024 J4 (Lemmon),K24J040,2024J4,None,19.6,2025-04-26 03:57,19.1,19.1,2025-05-12,False,True
2201,2535,C,C/2024 J3,C/2024 J3 (ATLAS),K24J030,2024J3,None,18.1,2026-11-25 07:55,13.9,13.7,2026-08-15,True,True
2202,2536,C,C/2023 TD22,C/2023 TD22 (Lemmon),K23T22D,2023TD22,None,17.1,2024-09-16 06:59,17.0,16.9,2024-09-02,True,True
2203,2537,C,C/2024 M1,C/2024 M1 (ATLAS),K24M010,2024M1,None,16.0,2024-11-20 00:51,13.9,13.7,2024-12-05,True,True

In [35]:
lista_cometas_df = cometas_df[['name', 'fullname']].sort_values(by='name')
lista_cometas_df.name[lista_cometas_df.fullname.str.contains('Halley')].values[0]

'1P'

In [33]:
# ConexiÃ³n con la API de COBS
nombre_cometa =  'C/2023 A3'
fecha_inicial = '1970-01-01 00:00'
Link_cops_API = f'https://cobs.si/api/obs_list.api?des={nombre_cometa}&format=json&from_date={fecha_inicial}&exclude_faint=False&exclude_not_accurate=False'

try: 
    response = requests.get(Link_cops_API)

    if response.status_code == 200:
        content = response.json()
        print('âœ… Base de datos actualizada.')
            
except requests.ConnectionError:
    print(f'ðŸ›‘ Se presentÃ³ un error al cargar la base de datos.\nError: {response.status_code}\n{response.content}')

âœ… Base de datos actualizada.

In [34]:
# CreaciÃ³n del data frame Cometa
cometa_df = pd.DataFrame(content['objects'])
cometa_df.sort_values(by='obs_date')

,type,obs_date,comet,observer,location,extinction,obs_method,comet_visibility,magnitude,conditions,...,magnitude_error,comparison_star_magnitude,pixel_size_x,pixel_size_y,pixel_size_unit,obs_comment,obs_sky_quality,obs_sky_quality_method,reference_star_names,date_added
2423,C,2023-02-25 07:40:48,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Katsumi', 'last_name': 'Yoshim...",None,None,"{'key': 'C', 'name': 'Unfiltered total CCD mag...",None,18.3,None,...,None,15.60,0.7,0.7,s,,None,NaN,,2023-03-06 01:25:19
2422,C,2023-02-25 18:00:00,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Gideon', 'last_name': 'van Bui...","Siding Spring, AU (Q62)",None,"{'key': 'C', 'name': 'Unfiltered total CCD mag...",None,17.9,None,...,None,None,None,None,None,,None,NaN,,2023-03-07 16:09:51
2421,C,2023-02-25 18:57:35,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Katsumi', 'last_name': 'Yoshim...",None,None,"{'key': 'C', 'name': 'Unfiltered total CCD mag...",None,18.2,None,...,None,15.60,2.0,2.0,s,,None,NaN,,2023-03-06 01:25:19
2420,C,2023-02-26 03:35:00,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Gideon', 'last_name': 'van Bui...","Dordrecht, NL (G06)",None,"{'key': 'C', 'name': 'Unfiltered total CCD mag...",None,18.1,None,...,None,None,None,None,None,Atik 460EX,None,NaN,,2023-03-07 16:11:04
2419,C,2023-02-27 07:51:00,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'John', 'last_name': 'Maikner',...",Comet Hunter Observatory 2,None,"{'key': 'C', 'name': 'Unfiltered total CCD mag...",None,18.0,None,...,None,None,None,None,None,,None,NaN,,2023-03-03 17:56:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,C,2024-12-10 17:14:00,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Douglas', 'last_name': 'Heggie...","Edinburgh, Scotland",None,"{'key': 'Z', 'name': 'CCD Visual equivalent', ...",None,9.1,None,...,None,None,None,None,None,Limiting magnitude 16.15 (ASTAP),None,NaN,,2024-12-12 17:04:51
3,V,2024-12-10 17:15:00,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Virgilio', 'last_name': 'Gonan...","Udine, Italy",None,"{'key': 'S', 'name': 'In-Out method', 'source'...",None,9.5,None,...,None,None,None,None,None,,None,NaN,,2024-12-10 17:55:30
2,V,2024-12-12 08:52:47,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Osamu', 'last_name': 'Miyazaki...",None,w,"{'key': 'S', 'name': 'In-Out method', 'source'...",None,9.4,None,...,None,None,None,None,None,,None,NaN,,2024-12-13 04:37:47
1,C,2024-12-12 18:09:00,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Douglas', 'last_name': 'Heggie...","ASERO, Trevinca, Spain",None,"{'key': 'Z', 'name': 'CCD Visual equivalent', ...",None,9.2,None,...,None,None,None,None,None,Limiting magnitude 18.34 (ASTAP),None,NaN,,2024-12-13 18:22:13
0,V,2024-12-13 16:55:00,"{'type': 'C', 'name': 'C/2023 A3', 'fullname':...","{'first_name': 'Jacek', 'last_name': 'Powichro...",Knyszyn,None,"{'key': 'B', 'name': 'Simple Out-Out method', ...",None,10.3,None,...,None,None,None,None,None,,None,NaN,,2024-12-13 17:14:27